body {
	background-color: black;
}
.main {
	margin-top: 110px;
	background-color: white;
	padding-left: 100px;
	position: relative;
	min-width: 1200px;
	height: 500px;
	z-index: 1;
}
.ryu-container {
	float: left;
	width: 659px;
	height: 494px;
}
.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}
.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}
.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}
.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}
.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}
.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  background-repeat: no-repeat;
}
.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	z-index: 10;
	top: 171px;
	left: 577px;
}
.instructions {
	margin: 0 auto;
	padding-right: 50px;
	padding-top: 175px;
	font-family: sans-serif;
	font-style: italic;
	font-size: 2rem;
	display: inline-block;
}